.container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.navbar * {
  text-decoration: none;
}

.app {
  text-transform: uppercase;
  text-wrap: wrap;
  font-weight: 600;
}
.navbar {
  background: white;
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.la {
  display: flex;
  align-items: center;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: black;
}

.ic {
  display: flex;
  gap: 8px;
  align-items: center;
}

ul li a {
  color: rgb(78, 78, 250);
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  padding: 10px;
}
li a:hover {
  background-color: rgb(233, 232, 232);
}
button {
  background-color: black;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.active {
  text-decoration-line: underline rgb(78, 78, 250);
}
.active:hover {
  text-decoration-line: underline rgb(78, 78, 250);
}


