<main class="main-container">
  <div class="container">
    <nav class="navbar">
      <div class="navdiv">
        <div class="la">
          <div class="ic">
            <div class="logo">
              <img src="../../../../assets/images/nrg-logo.png" alt="logo" />
            </div>
            <div class="app">VHOS</div>
          </div>
        </div>
        <button><a href="#">SignIn</a></button>
      </div>
    </nav>
  </div>

  <div class="auto-scroll">
    <app-site-list />
  </div>
</main>
