.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 2rem 0;
}

.app {
  text-transform: uppercase;
  text-wrap: wrap;
  font-weight: 600;
  font-size: x-large;
}
.navbar {
  background: white;
  font-family: calibri;
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navdiv {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  justify-content: start;
}
.auto-scroll {
  overflow-y: auto;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(141, 141, 250);
}

section {
  padding: 0 1rem;
}

.active {
  border: 2px solid rgb(241, 111, 111);
}

.tabs {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
}
