<main class="main-container">
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <img src="../../../../assets/images/nrg-logo.png" alt="logo" />
      </div>
      <p class="app">VHOS</p>
      <span>Angular 16</span>
    </div>
  </nav>

  <section class="tabs">
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="sites" routerLinkActive="active">Sites</a>
    <a routerLink="products" routerLinkActive="active">Products</a>
  </section>

  <section class="auto-scroll">
    <router-outlet></router-outlet>
  </section>
</main>
