section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem 0;
}
button {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(157, 157, 246);
}

.active {
  border: 2px solid rgb(247, 147, 147);
}
